<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>CRUD NodeJS</title>
</head>
<body>

    <h2>Registro de Veiculo<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="ID" name="id">
        <input type="text" placeholder="Placa" name="placa">
        <input type="text" placeholder="Chassi" name="chassi">
        <input type="text" placeholder="Renavam" name="renavam">
        <input type="text" placeholder="Modelo" name="modelo">
        <input type="text" placeholder="Marca" name="marca">
        <input type="text" placeholder="Ano" name="ano">
        <button type="submit">Enviar</button>
        <button><a href="/show">Todos</a></button>
    </form> 

</body>
</html>