<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="style.css">
  <title>View</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="namesController.js"></script>

</head>

<body>
  <!-- Menu de navegação -->
  <nav class="navbar navbar-inverse navbar-fixed-top text-center w-auto">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CRUD NODEJS</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">In&iacute;cio</a></li>
          <li><a href="#">Op&ccedil;&otilde;es</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="main" class="container-fluid">
    <div class="text-center w-auto p-3 h-auto d-inline-block">
      </br>
      <p>
      <h3 class="page-header">Registro de Veiculos</h3>
      </p>

      <!--Parte de pesquisa  -->
      <div ng-app="myApp" ng-controller="veiculosCtrl" >
        <div id="top" class="row">
          <div class="col-sm-3">
            <h2>Veiculos Cadastrados</h2>
          </div>
          <div class="col-sm-6">

            <div class="input-group h2">
              <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>

          </div>
          <div class="col-sm-3">
            <a href="" class="btn btn-primary pull-right h2" ng-click="myFunc()">Novo Veiculo</a>
          </div>
          <!--  <div class="col-md-12">
            <p>
              <button class="btn btn-default pull-right h2"><a href="/show">Todos</a></button>
            </p>
          </div> -->
        </div> <!-- /#top -->
        <hr />
        <!-- Lista de Pré cadastro -->
        <div id="list" class="row">

          <div>
            <div class="table-responsive col-md-12">
              <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Placa</th>
                    <th>chassi</th>
                    <th>Renavam</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th class="actions">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in veiculos">
                    <td>{{ x.id }} </td>
                    <td>{{ x.placa }}</td>
                    <td>{{ x.chassi }}</td>
                    <td>{{ x.renavam}}</td>
                    <td>{{ x.modelo }}</td>
                    <td>{{ x.marca}}</td>
                    <td>{{ x.ano }}</td>

                    <td class="actions">
                      <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                      <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                      <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                        data-target="#delete-modal">Excluir</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div> <!-- /#list -->
        </div>

        <div id="bottom" class="row">
          <div class="col-md-12">
            <ul class="pagination">
              <li class="disabled"><a>&lt; Anterior</a></li>
              <li class="disabled"><a>1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->
          </div>
        </div> <!-- /#bottom -->
      </div>
      <!--  -->
      <div ng-app="app2" ng-show="showMe" ng-controller="myCtrl">
        <h2>Cadastrar Novo Veiculo</h2>
        <div class="row">
          <form class="form-group" action="/show" method="POST">
            <div class="col-md-6">
              <p><strong>Campo Um</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="ID" name="id">
            </div>

            <div class="col-md-6">
              <p><strong>Campo Dois</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="Placa" name="placa">
            </div>

            <div class="col-md-6">
              <p><strong>Campo Três</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="Chassi" name="chassi">
            </div>

            <div class="col-md-6">
              <p><strong>Campo quatro</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="Renavam" name="renavam">
            </div>

            <div class="col-md-6">
              <p><strong>Campo Cinco</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="Modelo" name="modelo">
            </div>

            <div class="col-md-6">
              <p><strong>Campo seis</strong></p>
              <input class="form-control form-control-lg" type="text" placeholder="Marca" name="marca">
            </div>
            <div class="col-md-6">
              <p><strong>Campo sete</strong></p>
              <p> <input class="form-control form-control-lg" type="text" placeholder="Ano" name="ano">
              </p>

            </div>

            <div class="col-md-12">
              <p>

                <button class="btn btn-primary pull-right h2" type="submit">Enviar</button>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    angular.module('myApp', []).controller('veiculosCtrl', function ($scope) {
      $scope.veiculos = [
        { id: '01', placa: 'hbo-9033', chassi: '1g33zh3h4xgh4jkh4', renavam: '14122344356', modelo: 'Argo Drive', marca: 'Fiat', ano: '2019' },
        { id: '02', placa: 'osd-0333', chassi: '1234h3h4xgh4jkh48', renavam: '24122344356', modelo: 'Renault Clio', marca: 'Renault', ano: '2001' },
        { id: '03', placa: 'htr-1234', chassi: '2g33zh3h4xgh4jkh4', renavam: '34122344356', modelo: 'Santana', marca: 'Volkswagen', ano: '2000' },
        { id: '04', placa: 'hgt-3345', chassi: '3g33zh3h4xgh4jkh4', renavam: '44122344356', modelo: 'Golg', marca: 'Volkswagen', ano: '2004' },
        { id: '05', placa: 'lko-3883', chassi: '4g33zh3h4xgh4jkh4', renavam: '54122344356', modelo: 'Fiat siena', marca: 'Fiat', ano: '2019' },
        { id: '06', placa: 'jky-4563', chassi: '6g33zh3h4xgh4jkh4', renavam: '64122344356', modelo: 'T-Cross', marca: 'volksswagen', ano: '2021' },
        { id: '07', placa: 'fgj-8899', chassi: '5g33zh3h4xgh4jkh4', renavam: '74122344356', modelo: 'HB20', marca: 'Hyundai', ano: '2018' },
        { id: '08', placa: 'hjg-1000', chassi: '6g33zh3h4xgh4jkh66', renavam: '84122344356', modelo: 'I35', marca: 'Hyundai', ano: '2017' }
      ];
    });
  </script>

  <script>

     var app = angular.module('app2', []);
    app.controller('myCtrl', function ($scope) {
      $scope.showMe = false;
      $scope.myFunc = function () {
        $scope.showMe = !$scope.showMe;
      }
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>