<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="stylesheet" href="style.css">
  <title>View</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
  <!-- Menu de navegação -->
  <nav class="navbar navbar-inverse navbar-fixed-top text-center w-auto">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CRUD NODEJS</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">In&iacute;cio</a></li>
          <li><a href="#">Op&ccedil;&otilde;es</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="main" class="container-fluid">
    <div class="text-center w-auto p-3 h-auto d-inline-block">
      </br>
      <p>
      <h3 class="page-header">Registro de Veiculos</h3>
      </p>

      <!--Parte de pesquisa  -->
      <div>
        <div id="top" class="row">
          <div class="col-sm-3">
            <h2>Veiculos Cadastrados</h2>
          </div>
          <div class="col-sm-6">

            <div class="input-group h2">
              <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>

          </div>
          <div class="col-sm-3">
            <a href="" class="btn btn-primary pull-right h2" onclick="Mudarestado('veiculoid')">Novo Veiculo</a>
          </div>
          <!--  <div class="col-md-12">
            <p>
              <button class="btn btn-default pull-right h2"><a href="/show">Todos</a></button>
            </p>
          </div> -->
        </div> <!-- /#top -->
        <hr />
        <!-- Lista de Pré cadastro -->
        <div id="list" class="row">

          <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Placa</th>
                  <th>chassi</th>
                  <th>Renavam</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Ano</th>
                  <th class="actions">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>HBO-4350</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>Argo 1.3 Drive</td>
                  <td>Fiat</td>
                  <td>2019/2020</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>HOJ-2150</td>
                  <td>33gsgdhsg88hhjshdtd66</td>
                  <td>666364333266</td>
                  <td>Touro</td>
                  <td>Fiat</td>
                  <td>2020/2021</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>jgO-2434</td>
                  <td>332ZFGTsd88hhdsjsh66</td>
                  <td>12343444338</td>
                  <td>Santana</td>
                  <td>Volkswagen</td>
                  <td>2010/2011</td>
                  <td class="actions"> <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>04</td>
                  <td>ujk-3560</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>Vectra</td>
                  <td>Chevrolet</td>
                  <td>2015/2015</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>Hfg-0987</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>Golf</td>
                  <td>Volkswagen</td>
                  <td>2019/2020</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>06</td>
                  <td>DAN-9845</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>Renegade</td>
                  <td>Fiat</td>
                  <td>2021/2021</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>07</td>
                  <td>klj-0765</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>Honda Civic</td>
                  <td>Honda</td>
                  <td>2018/2019</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>
                <tr>
                  <td>08</td>
                  <td>ght-3435</td>
                  <td>332ZFGT88hhjshdsjsh66</td>
                  <td>18877834338</td>
                  <td>T-Cross</td>
                  <td>Volkswagen</td>
                  <td>2018/2019</td>
                  <td class="actions">
                    <a class="btn btn-success btn-xs" href="view.html">Visualizar</a>
                    <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal"
                      data-target="#delete-modal">Excluir</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div> <!-- /#list -->

        <div id="bottom" class="row">
          <div class="col-md-12">
            <ul class="pagination">
              <li class="disabled"><a>&lt; Anterior</a></li>
              <li class="disabled"><a>1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->
          </div>
        </div> <!-- /#bottom -->
      </div>
      <!--  -->
      <h2>Cadastrar Novo Veiculo</h2>
      <div class="row">
        <form class="form-group" action="/show" method="POST">
          <div class="col-md-6">
            <p><strong>Campo Um</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="ID" name="id">
          </div>

          <div class="col-md-6">
            <p><strong>Campo Dois</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="Placa" name="placa">
          </div>

          <div class="col-md-6">
            <p><strong>Campo Três</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="Chassi" name="chassi">
          </div>

          <div class="col-md-6">
            <p><strong>Campo quatro</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="Renavam" name="renavam">
          </div>

          <div class="col-md-6">
            <p><strong>Campo Cinco</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="Modelo" name="modelo">
          </div>

          <div class="col-md-6">
            <p><strong>Campo seis</strong></p>
            <input class="form-control form-control-lg" type="text" placeholder="Marca" name="marca">
          </div>
          <div class="col-md-6">
            <p><strong>Campo sete</strong></p>
            <p> <input class="form-control form-control-lg" type="text" placeholder="Ano" name="ano">
            </p>

          </div>

          <div class="col-md-12">
            <p>

              <button class="btn btn-primary pull-right h2" type="submit">Enviar</button>
            </p>
          </div>

        </form>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>